.footer__container--content{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__container{
    margin-top: auto;
}

.footer__container--section{
    height: 110px;
    margin-top: 13px;
}

.footer{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col{
    display: flex;
    align-items: center;
    width: 60%;
}

.footer__col--align-right{
    justify-content: flex-end;
    width: 40%;
}

.footer__logo{
    width: 160px;
    height: 35px;
    margin-right: 125px;
}

.social{
    margin-right: 74px;
}


.social__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.social__item:last-child{
    margin-right: 0;
}

.social__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social__item--telegram .social__link{
    background: url(../../image/icons/css_sprites.png) -122px -10px;
}

.social__item--telegram .social__link:hover{
    background: url(../../image/icons/css_sprites.png) -122px -66px;
}

.social__item--vk .social__link{
    background: url(../../image/icons/css_sprites.png) -10px -122px;
}

.social__item--vk .social__link:hover{
    background: url(../../image/icons/css_sprites.png) -66px -122px;
}

.social__item--facebook .social__link{
    background: url(../../image/icons/css_sprites.png) -10px -10px;
}

.social__item--facebook .social__link:hover{
    background: url(../../image/icons/css_sprites.png) -66px -10px;
}

.social__item--instagram .social__link{
    background: url(../../image/icons/css_sprites.png) -10px -66px;
}

.social__item--instagram .social__link:hover{
    background: url(../../image/icons/css_sprites.png) -66px -66px;
}

.contacts__call{
    color: #9A9A9A;
    font-size: 11px;
}