.header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header__col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 63%;
}

.header__col--align-right{
    justify-content: flex-end;
    width: 37%;
}

.logo__img{
    width: 160px;
    height: 35px;
}

.logo{
    display: block;
    margin-right: 100px;
}


.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 63px;
}

.menu__item--active .menu__link{
    color: #8F00FF;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link{
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.menu__link:hover{
color:#8F00FF;
}

.contacts{
    text-align: right;
    font-style: normal;
}

.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
    transition-duration: 0.3s;
}

.contacts__phone:hover{
    color:#8F00FF;
    }

.contacts__info{
    font-size: 13px;
    text-decoration: underline;
    opacity: 0.6;
}

.contacts__info-wrap{
    position: relative;
}

.contacts__info:hover{
    opacity: 1;
    cursor: pointer;
}

.dropdown{
    padding: 13px 19px 13px 19px;
    background: #EDEDED;
    opacity: 0.8;
    border-radius: 6px;
    color: #1E1F20;
    font-weight: normal;
    position: absolute;
    left: -9999px;
    opacity: 0;
    transition: opacity 0.5s;
}

.dropdown__days{
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}

.dropdown__time{
    text-align: left;
    font-size: 13px;
}

.dropdown:after{
    content: " ";
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #EDEDED;
    border-top-width: 0;
    top: -10px;
    right: 50px;
}

.contacts__info-wrap:hover .dropdown{
    left: 20px;
    right: 0px;
    top: 140%;
    opacity: 1;
}

.dropdown:before{
content: " ";
height: 15px;
width: 100%;
position: absolute;
top: -15px;
left: 0;
}